[submodule "iphone/XtremePush_iOS"]
	path = iphone/XtremePush_iOS
	url = git://github.com/xtremepush/XtremePush_iOS.git
[submodule "android/XtremePush_Android"]
	path = android/XtremePush_Android
	url = git@github.com:farwayer/XtremePush_Android.git
